
<ion-card>
<ion-list padding>
22. Mesjid Teuku di Peucok Krueng
</ion-list>
<ion-list>
<img src="assets/img/mesjidteukudipucok.png"/>
Lokasi : Pucok Krueng Beuracan, Kec.Meureudu, Pidie Jaya
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Mesjid Tengku di Pucok Krueng Beuracan, kecamatan Meureudu, Pidie jaya atau yang lebih dikenal sebagai Mesjid Beuracan adalah salah satu dari sekian banyak mesjid bersejarah di kabupaten Pidie jaya. Menurut informasi Mesjid ini dibangun oleh Tgk. Abdussalim pada tahun 1626 M , atau lebih tepatnya selama masa pemerintahan Sultan Iskandar muda memerintah kerajaan Aceh Darussalam.
  </p>
    
  </ion-card-content>
</ion-card>

