<ion-card>
<ion-list padding>
  20. Mesjid Tuha Pulo Kambing Aceh Selatan.
</ion-list>
<ion-list>
<img src="assets/img/mesjidtuhapulo.jpg"/>
Lokasi : Gampong Pulo Kameng, Kec.Kluet Utara, Aceh Selatan.
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Mesjid Pulo Kambing atau sekarang biasa disebut dengan mesjid Nurul Huda. dibangun pada masa keujrun Teuku Aman syah, Mulai 28 Hari Bulan Ramadhan, Tahun 1282 H/1864 M. Mesjid tersebut terletak di Gampong Pulo Kameng, Kecamatan Kluet Utara, Aceh Selatan. Imam Masjid ini pertama yaitu tengku haji ali basyah, bulan Rajab tahun /35/ ( salah satu tulisan yg terpahat di tiang masjid) Bukti Ontentik dari masjid tuha ini masih Terpahat jelas pada bagian tiang di dalam masjid, mulai dari nama imam masjid sampai dengan Keucik pada masanya. Semua tersebut dengan jelas beserta tahun kepemimpinannya.
  </p>
    
  </ion-card-content>
</ion-card>

