<ion-card>
<ion-list padding>
 10. Benteng Kuta Lubok
</ion-list>
<ion-list>
<img src="assets/img/bentengkutalubok.png"/>
Lokasi : Desa lamreh kec. Mesid raya, Aceh besar
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Benteng Kuta Lubok berada di desa lamreh kecamatan mesjid raya, kabupaten aceh besar. Adapun benteng ini dibangun pada akhir abad ke 12 . Benteng Kuta Lubok adalah salah satu situs paling penting dalam perjalanan sejarah Aceh dan dunia Melayu. Selama ini banyak hipotesis (dugaan awal) bahwa benteng ini adalah peninggalan Portugis, ada juga hipotesis benteng Kerajaan Aceh Darussalam, tapi ada juga yang meyakini benteng ini adalah benteng tertua yang didirikan pada masa Kerajaan Lamuri (diyakini sebagai Lamreh sekarang) yang merupakan kerajaan tertua di Aceh.
  </p>
    
  </ion-card-content>
</ion-card>

