<ion-card>
<ion-list padding>
 19. Masjid Sultan di Tepi Danau Laut Tawar Takengon
</ion-list>
<ion-list>
<img src="assets/img/mesjidsultandaulattakengon.png"/>
Lokasi : Gayo, Aceh Tengah
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Ketika berada di pengasingan Gayo, Sultan Aceh Muhammad Daud Sjah sempat membagun masjid dengan konstruksi kayu terletak di tepi jalan dan tak jauh dari bibir danau Laut Tawar. Masjid sultan berdiding papan dengan satu kubah kecil. Dulu masjid itu menjadi satu-satunya masjid di sana. Jalan depan masjid menuju arah gua tempat tinggal sultan, diberinama Jalan Daulat Aceh. 'Daulat'adalah sebutan Gayo untuk sultan Aceh. Selama berada di Tanah Gayo, Sultan mendapat pengawalan dan perlindungan dari para reje, pengulu, dan panglima - panglima Gayo.
  </p>
    
  </ion-card-content>
</ion-card>

