<ion-card>
<ion-list padding>
16. Makam Keluarga Kerajaan Aceh
</ion-list>
<ion-list>
<img src="assets/img/makamrajaraja.jpg"/>
Lokasi : Asrama Keuraton Kec.Baiturrahman
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Makam Kandang XII yang merupakan tempat peristirahatan terakhir para Raja Aceh terletak di Asrama Keuraton Keucamatan Baiturrahman, atau disisi Barat Pendopo Gubernur Aceh menjadi saksi atas kemegahan Kerajaan Aceh sejak zaman dahulu. Makam yang berada di samping Mesjid Al-Fitrah Asrama keuraton ini tidak jauh dari pusat kota, berjarak 500 meter dari Mesjid Raya Baiturrahman. Jalan ke sana bisa di tempuh melalui jalan kecil di samping tempat pembelanjaan Barata atau melalui jalan Perwira. Luas Makam Kandang XII sekitar 214 M2 serta mulai di pugar oleh pemerintah melalui proyek purbakala tahun 1978 M
  </p>
  <p>
  Terdapat 12 Makam Sultan Aceh beserta keluarganya, tetapi hanya enam makam yang terdata dan ada keterangannya, sedangkan enam makam lagi tidak ada keterangannya tidak tahu mengapa demikian, diantaranya :Sultan Syamsu Syah memerintah tahun 1497-1514 Masehi, Sultan Ali Mughayat Syah memerintah tahun 1514-1530 Masehi, Sultan Salahuddin Ibnu Ali Mughayat Syah memerintah tahun 1530-1537 Masehi, Sultan Ali Riayat Syah Al-Qahar memerintah tahun 1537-1568 masehi, Sultan Husain Syah Ibnu Sultan Ali Riayat Syah Al-Qahar memerintah tahun 1568-1575 Masehi, Malikul Adil tahun 1641-1676 Masehi, hidup pada masa pemerintahan Ratu Tadjul Alam.
  </p>
  <p>Di Makam Kandang XII ini juga terdapat Makam Sultan Ali Mughayat Syah, yang merupakan Raja Aceh yang memerintah pada tahun 1514-1530. Sultan Ali Mughayat Syah berhasil mengusir Protugis di Selat Malaka yang hendak menyerang wilayah kekuasaan Aceh, Kerajaan Aru (Sumatera Timur), Pasai, Pedir, dan Daya hingga Barus (Tapanuli Tengah). Makam Kandang XII ini juga menjadi bukti sejarah bahwa Aceh pada zaman dahulu sudah kaya akan seninya. Terlihat jelas pada ukiran-ukiran Arab pada batu nisan tersebut, dengan nisan yang bertingkat-tingkat dan bentuk nisan yang beragam.
  </p>
    
  </ion-card-content>
</ion-card>

