<ion-card>
<ion-list padding>
   11. Benteng Kuta Batee
</ion-list>
<ion-list>
<img src="assets/img/benteng.jpg"/>
Lokasi : Meunasah Manyang, Meureudu, Pidie Jaya, 
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Benteng Kuta Batee dibangun oleh Yang Mulia Sulthan Iskandar Muda pada tahun 1620 Masehi, terletak di Gampong Meunasah Manyang, Kecamatan Meureudu, Kabupaten Pidie Jaya, yaitu yang kini keberadaannya dikelilingi oleh lahan sawah masyarakat di pinggiran aliran sungai Krueng Meureudu. Benteng ini terbuat dari batu (batee) sungai, yang dahulu batu-batunya diikat dengan adukan putih telur dengan tepung beras ketan (menyerupai adukan semen).
  </p>
    
  </ion-card-content>
</ion-card>

