<ion-card>
<ion-list padding>
 5. Masjid Raya Baiturrahman
</ion-list>
<ion-list>
<img src="assets/img/mesjid3.jpg"/>
Lokasi : Pusat Kota Banda Aceh
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Masjid Raya Baiturrahman pada masa kesultanan aceh berfungsi sebagai tempat ibadah dan sarana pendidikan. Masjid yang dibangun Sultan Iskandar Muda pada sekitar tahun 1612 Masehi ini terletak di pusat Kota Banda Aceh. Ketika agresi militer Belanda II, masjid ini pernah dibakar. Tetapi pada selang 4 tahun setelahnya, Belanda membangunnya kembali untuk meredam amarah rakyat Aceh yang akan berperang merebut syahid. Berikut bentuk awal mesjid sebelum dibakar belanda.
  </p>
  <img src="assets/img/mesjidawal.jpg"/>
    
  </ion-card-content>
</ion-card>

