<ion-card>
<ion-list padding>
 14. Surat Emas Sultan Perkasa Alam
</ion-list>
<ion-list>
<img src="assets/img/suratemas.jpg"/>
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>
  Pada tahun hijrah 1024 bersamaan 1615 masehi Sultan Iskandar Muda mengirim surat kepada King James 1(raja Inggeris, didalam surat emas ini nama beliau disebut sebagai Raja Yakub) tentang perintah secara rasmi berkenaan larangan mendirikan pos niaga diluar wilayah ibukota Aceh yang di karang diatas selembar kertas berukuran panjang hampir satu meter serta ditaburi butir-butir emas dengan ukiran yang indah. Menurut Annabel Teh Gallop, surat emas ini adalah koleksi surat kerajaan yang paling indah dari semua koleksi yang dimiliki oleh pihak Inggeris.<br>~Wallahu'alam"
  </p>
    
  </ion-card-content>
</ion-card>

