<ion-card>
<ion-list padding>
 13. Uang Emas
</ion-list>
<ion-list>
<img src="assets/img/pengmeuh.jpg"/>
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Sejumlah mata uang emas dari kerajaan-kerajaan di Aceh yang lazim disebut Derham Aceh diketahui pernah menghiasi perjalanan sejarah negeri ini. Seperti Kerajaan Samudra Pasai, yang jejak-jejak peninggalannya masih ditemukan sekarang ini di Kecamatan Samudra Kabupaten Aceh Utara, merupakan kerajaan Islam pertama di kawasan ini yang mengeluarkan mata uang emas. Dibawah Sultannya Muhammad Malik az-Zahir (1297 -1326) dikeluarkan mata uang emas yang sampai saat ini dianggap derham yang tertua. Kerajaan ini mulai berkembang sebagai pusat perdagangaan dan pusat pengembangan agama Islam di Selat Melaka pada akhir abad XIII M. Beberapa bentuk mata uang yang ditemukan :</p>
  <img src="assets/img/mu1.jpg"/>
  Mata Uang diatas merupakan milik Kerajaan Samudera Pasai zaman Sultan Malik Az Zahir (1297-1326)<br>
    <img src="assets/img/mu2.jpg"/>
	Mata Uang Emas Kerajaan Aceh Darussalam zaman Sultan Iskandar Muda (1607-1636)

  </ion-card-content>
</ion-card>

