<ion-card>
<ion-list padding>
4. Pinto Khop
</ion-list>
<ion-list>
<img src="assets/img/pintokhop.jpg"/>
Lokasi : Sukaramai, Kec.Baiturahman Banda Aceh
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Pinto Khop berada di Kelurahan Sukaramai, Kecamatan Baiturahman, Kota Banda Aceh. Tempat ini adalah sejarah Aceh jaman dulu yang dibangun pada saat pemerintahan Sultan Iskandar Muda. Selain itu, tempat ini juga adalah pintu penghubung antara istana serta taman putroe phang. Pinto khop ini merupakan pintu gerbang yang berbentuk kubah. Dimasa kerajaan Pinto khop ini juga adalah tempat beristirahat putri pahang jika telah selesai berenang, posisinya tak jauh dari gunongan.
  </p>
    
  </ion-card-content>
</ion-card>

