<ion-card>
<ion-list padding>
 9. Benteng Iskandar Muda
</ion-list>
<ion-list>
<img src="assets/img/bentengim.jpg"/>
Lokasi : Desa Brandeh Krueng Raya, Aceh besar
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Benteng Iskandar Muda berada di desa Brandeh Krueng Raya kabupaten aceh besar dibangun pada abad ke 17. Di masa pemerintahan Sultan Iskandar Muda, Kerajaan Aceh diperkuat dengan benteng-benteng pertahanan di sepanjang pantai Selat Malaka.Benteng ini dibangun pada Abad 16 oleh Sultan Iskandar Muda untuk melindungi wilayah kekuasaannya dari serangan Belanda dan Portugis.
  </p>
    
  </ion-card-content>
</ion-card>

