
<ion-card>
<ion-list padding>
  17. Mesjid Raya Labu
</ion-list>
<ion-list>
<img src="assets/img/mesjidrayalabu.png"/>
Lokasi : Pidie
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Mesjid Raya Labu terletak di Kecamatan Pidie merupakan salah satu masjid tua di Aceh yang menyimpan nilai sejarah. Salah satu peninggalan sejarah adalah mimbar dari kayu berukir berusia ratusan tahun hasil karya pengrajin Cina sekitar tahun 1612 M . Mesjid ini sebelum dinamakan sebagai Mesjid raya Labui diketahui bernama mesjid Po Teumeureuhom . Waktu itu Po Teumeureuhom, Sultan Iskandar Muda (1607-1636) bersama masyarakat membangun masjid tersebut secara bergotong royong. Masyarakat bersedia berdiri sekitar 30 kilometer untuk mengangkut batu secara estafet, dari Kecamatan Muara Tiga ke Labui. Po Teumeureuhom sempat mendatangkan arsitek dari Cina untuk membangun masjid yang kemudian dilestarikan menjadi cagar budaya.
  </p>
    
  </ion-card-content>
</ion-card>

