.i{
    border-radius:50px;
    

}


.listheader{
	border-top:2px;
	margin-bottom:0px;
}

.headsidemenu{
   background-image: url('../assets/img/design.jpg');
   background-size:cover;
   height:150px;

}


.p_header{
text-align:center;
}



