<ion-card>
<ion-list padding>
8.Benteng Inong Balee
</ion-list>
<ion-list>
<img src="assets/img/bentenginongbale.png"/>
Lokasi : Desa Lamreh kec.Mesjid Raya, Aceh Besar.
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Benteng  Inong Balee berada di desa lamreh kecamatan mesjid raya, kabupaten aceh besar. Adapun benteng ini dibangun pada akhir abad ke 16 oleh laksamana Malahayati. Pernah terjadi pertempuran besar di mana pasukan Portugis dipimpin Cornelis de Houtman menggempur pertahanan pasukan Kerajaan Aceh di Benteng Inoeng Balee. Namun serangan itu berhasil dipatahkan, dan bahkan Cornelis de Houtman harus kehilangan nyawananya
  </p>
    
  </ion-card-content>
</ion-card>

