<ion-card>
<ion-list padding>
 3. Lonceng Cakra Donya 
</ion-list>
<ion-list>
<img src="assets/img/lonceng.jpeg"/>
Lokasi : Peunayong, Banda Aceh
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Lonceng Cakra Donya yang tergantung di pintu masuk Museum Aceh, merupakan simbol persahabatan Aceh dan Tiongkok sejak abad ke-15 silam. Inilah saksi bisu kuatnya armada militer Kerajaan Aceh Darussalam di masa jayanya. Lonceng raksasa ini berbentuk stupa, dibuat pada 1409 Masehi. Tingginya mencapai 125 centimeter, lebar 75 centimeter. Di bagian luar terukir hiasan dan tulisan Arab juga China. Tulisan Arab sudah kabur dimakan usia. Sedang aksara Tiongkok tertulis Sing Fang Niat Tong Juut Kat Yat Tjo yang diartikan "Sultan Sing Fa yang telah dituang dalam bulan 12 dari tahun ke 5.".
  <p>
	Lonceng ini juga dikenal sebagai bagian dari jejak sejarah kedatangan warga Tiongkok ke Nusantara. Lonceng ini merupakan hadiah dari Kaisar Yongle penguasa Tiongkok kepada Kerajaan Samudera Pasai. Lonceng dibawa ke Aceh oleh Laksamana Cheng Ho sekira 1414 M, sebagai simbol persahabatan kedua negara. Pasai kala itu dikenal sebagai negeri yang makmur dan terbuka. Banyak pedagang-pedagang dari Timur Tengah dan Gujarat India datang untuk berbisnis dan menyebarkan Islam. Pasai juga mengekspor rempah-rempah ke berbagai Negara, salah satunya Tiongkok. Kerajaan Pasai kemudian berhasil ditakluk Kerajaan Aceh Darussalam pimpinan Sultan Ali Mughayatsyah pada 1542 M. Lonceng ini disita dan diboyong ke Koetaradja (Banda Aceh sekarang), pusat Kerajaan Aceh Darussalam.
  </p>
    
  </ion-card-content>
</ion-card>

