<ion-card>
<ion-list padding>
 21. Rumoh Aceh Teuku Ibrahim Bintara Pineung
</ion-list>
<ion-list>
<img src="assets/img/mesjidteukubentara.jpg"/>
Lokasi :Gampong Dayah Bubue, Kec.Peukan Baro.
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Rumoh Aceh kediaman Teuku Ibrahim, seorang Bintara Pineung di zaman masa Kesultanan Aceh Darussalam. Rumah panggung ini terlihat sangat sederhana dan masih berdiri kokoh sampai sekarang. Rumah tersebut terletak di Gampong Dayah Bubue, Kec Peukan Baro. Rumoh Aceh ini diperkuat oleh 24 tiang (tameh) yang sangat kuat. Atapnya sebelum di ganti  dengan seng menggunakan atap daun nipah, yang membedakan dengan rumoh Aceh lainnya, pada bagian belakangnya terdapat rumoh miyub (bawah),yang berbentuk seperti rumah Eropa dan berlantai marmer. Tidak ketinggalan pula pada setiap dinding Rumoh Aceh kediaman Bintara Pineng ini dipercantik dengan hiasan ukiran-ukiran di sekelilingnya.
  </p>
    
  </ion-card-content>
</ion-card>

