<ion-card>
<ion-list padding>
6. Cap Sikureung (Cap 9)
</ion-list>
<ion-list>
<img src="assets/img/cap9.jpg"/>
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>
  Cap 9 atau segel para sultan/sultanah Kerajaan Aceh adalah Cap resmi dari raja yg memerintah. Penamaan Cap ini didasarkan pada bentuknya yang mencantum sembilan nama Sultan, nama sultan yg memerintah berada di tengah. Membaca dimulai dari bawah ke atas searah jarum Jam. Inilah cap sembilan (cap sikureung) dari sultan Muhammad Dawud Syah tatkala ia sudah diresmikan menjadi Sultan Aceh. Cap ini dipakai oleh Sultan-sultan sejak keturunan Sultan Iskandar Muda.</p>

  <p>Pada segel-segel sultan aceh, 3 tempat diperuntukkan kepada Raja-raja yang memerintah dari dinasti sebelumnya. Lima tempat diperuntukkan pada Raja-Raja keluarga sendiri, dan yang satu dari yang 5 adalah Raja pendiri dan Dinastinya. Dan yang terletak ditengah-tengah yaitu Sultan atau Sultanah (Ratu) yang sedang memerintah.<br>
  Inilah salahsatu cap sikureung milik kesultanan Aceh Darussalam</p>
  <img src="assets/img/cap9.jpg"/>
  <p>
  Cap tersebut masa Sultan Muhammad Daud Syah, 1879-1903, Sultan Aceh yang terakhir.
  Nama sembilan sultan pada cap 9 tersebut:
  Cab Sikureung (Kulit luar) bermakna 9 Sultan :</p>


<li>Paling Atas
Sultan Ahmad Syah, yakni Raja pertama Dinasti Aceh-Bugis yang terakhir, 1723-1735, adalah Sultan yang ke-XX, sebelum tahun 1723 disebutÂ  dengan gelar Maharadja Lela (Melayu)</li>

<li>Kanan Atas
Sultan Djauhan Syah, yakni Putera Raja sebelumnya, 1735-1760, adalah Sultan ke-XXI, bergelar Raja Muda</li>

<li>Paling Kanan
Sultan Mahmud Syah, yakni Muhammad atau Mahmoud Syah I, Cucu Sultan Ahmad Syah, 1760-1763, adalah Sultan ke-XXII</li>

<li>Kanan Bawah
Sultan Djauhar ‘Alam, yakni Cicit laki-laki Sultan Ahmad Syah, 1795-1824, adalah Sultan ke-XXVII</li>

<li>Paling Bawah
Sultan Manshur Syah, yakni Putera Djauhar Alam, sekitar 1857-1870, adalah Sultan ke-XXVIII</li>

<li>Kiri Bawah
Sultan Said-al-Mukamal, yakni Alauddin al-Qahhar, 1530-1557, adalah Sultan Aceh ke-III</li>

<li>Paling Kiri
Sultan Meukuta Alam, yakni Sultan Iskandar Muda, 1607-1636, adalah Sultan Aceh ke-XI</li>

<li>Kiri Atas
Sultan Sultan Tadjul ‘Alam, yakni Ratu Safiatuddin, Sultan wanita pertama Aceh, 1641-1675, adalah Sultan ke-XIII (Puteri Iskandar Muda)</li>

<li>Tengah
Waffaa-Allah Paduka Seri Sultan Alauddin muhammad Daud Syah Djohan Berdaulat zil-Allah fil’Alam, yakni adalah Sultan Muhammad Daud Syah, 1879-1903, Sultan Aceh yang terakhir.</li>


</ion-card-content>
</ion-card>

