<ion-card>
<ion-list padding>
 12.Taman sari/Bustanus Salatin
</ion-list>
<ion-list>
<img src="assets/img/tamansari.png"/>
Lokasi : Kota Banda Aceh
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Bustanus Salatin adalah salah satu bangunan bersejarah di kota Banda Aceh. Bangunan ini sendiri telah ada selama periode kesultanan Aceh sekitar tahun 1514, sebelum nya taman sari (Bustanus Salatin) dinamakan taman Ghairah yang mana merupakan taman istana dimana keluarga kerajaan bermain
  </p>
    
  </ion-card-content>
</ion-card>

