<ion-card>
<ion-list padding>
 15. Mesjid Indra Puri
</ion-list>
<ion-list>
<img src="assets/img/mesjidindrapuri.jpg"/>
Lokasi : Indrapuri, Aceh Besar
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>Masjid Indrapuri adalah bangunan tua berbentuk segi empat sama sisi. Mempunyai bentuk yang khas seperti candi, karena di masa lalu bangunan ini bekas benteng sekaligus candi Kerajaan Hindu yang lebih dulu menguasai Aceh. Pada tahun 1300 Masehi, diperkirakan pengaruh Islam di Aceh mulai menyebar dan perlahan-lahan penduduknya telah mengenal Islam. Pada akhirnya bangunan yang awalnya candi ini berubah fungsi menjadi masjid. Bangunan bekas candi ini dirubah jadi masjid pada masa Sultan Iskandar Muda yang berkuasa dari tahun 1607-1637 Masehi.
  </p>
    
  </ion-card-content>
</ion-card>

