<ion-card>
<ion-list padding>
 2. Gunongan
</ion-list>
<ion-list>
<img src="assets/img/gunongan.jpg"/>
Lokasi : Sukaramai, Baiturahman, Kota Banda Aceh
</ion-list>
  <ion-card-header class="acch" (click)="toggleAccordion()">
   Baca
  </ion-card-header>


  <ion-card-content class="accc" #dd>
  <p>simbol dan kekuatan cinta Sultan Iskandar Muda kepada sang permaisuri. Seorang putri cantik nan jelita dari Kerajaan Pahang, Malaysia. Alkisah sang putri yang dikenal dengan nama Putroe Phang sering merasa kesepian di tengah kesibukan suaminya selaku raja. Kenangan semasa di kampung halamannya di Pahang selalu terbayang di pelupuk mata. Sang sultan yang memahami kegundahan permaisurinya lantas membangun  sebuah gunung kecil (Gunongan) sebagai miniatur perbukitan yang mengelilingi istana Putroe Phang di Pahang.
</p>
 <p>Bangunan berbentuk persegi enam, menyerupai bunga dan bertingkat tiga dengan tingkat utama berbentuk mahkota  itu dibangun pada abad ke-16 (1607-1636). Pada dindingnya ada sebuah pintu masuk berukuran rendah yang selalu dalam keadaan terkunci. Dari lorong pintu itu ada sebuah tangga menuju ke tingkat tiga Gunongan.
    </p>
  </ion-card-content>
</ion-card>

